@charset "UTF-8";

/*  em HTML é id    = em CSS é #
    em HTML é class = em CSS é .
*/

body{
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
}

H1{
    color: rgb(4, 189, 44);
}
h1#principal{
    text-align: center;
    background-color: chartreuse;
    color: rgb(255, 255, 255);
}
h2{
color: rgb(15, 60, 145);
}
.basico{
    color: darkorange;
}
.intermediario{
    color: darkorchid;
}
.avançado{
    color: blue;
}
.destaque{
    background-color: rgb(255, 0, 179);
}